doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MITAOE | Club Page
        style 
            include ./../../public/css/club.css
            include ./../../public/util.css
            include ./../../public/css/header.css
    body 
        header.header 
            img(src="../Logo.png", alt="Logo" class="logo")
            nav 
                ul 
                    li 
                        a(href="/clubs") Home 
                    li
                        a(href="/clubs/my") My Clubs 
                    if user.role == "Teacher" 
                        li
                            a(href="/admin/new") Create Club 
            div.msg=`Welcome ${user.full_name}`
            .dropdown 
                if user.profil_pic == ""
                    img(src=`../assets/avatar/default.png`, alt="Profile Avatar" class="account")
                else
                    img(src=`../assets/avatar/${user.profil_pic || "default.png"}`, alt="Profile Avatar" class="account")
                div.drop-btn 
                div.dropdown-content 
                    a.dropdown-item(href="/users/account") Account 
                    a.dropdown-item(href="/users/account/setting") Setting 
                    a.dropdown-item(href="/logout") Logout 
                    if user.role == "Teacher"
                        a.dropdown-item(href="/admin") Administration 
        section.head
            h1 Creating new Club
        main 
            .club-admin-container 
                
                    .form-box 
                        h3.form-heading Create Club
                        form(action="/admin/new" method="POST")
                            div.input-box
                                label(for="club_name")
                                input(type="text" name="club_name" placeholder="Enter Club Name" required) 
                            div.input-box
                                label(for="about")
                                textarea(name="about", cols="30", rows="10" placeholder="About Club") About
                            div.input-box
                                label(for="location")
                                input(type="text" name="location" placeholder="Enter Club Location" required) 
                            div.input-box
                                label(for="admin") 
                                select(name="admin")
                                    option(value) -------------Select Club Admin-------------  
                                    each User in users
                                        option(value=`${User._id}`)= `${User.full_name} (${User.email})`  
                            div.input-box
                                label(for="tag") 
                                select(name="tag")
                                    option(value) -------------Select Club Type------------  
                                    option(value="Technical")  Technical   
                                    option(value="Non Technical") Non Technical
                                    option(value="Cultural") Cultural    
                                    option(value="Sports") Sports    

                            div.input-box
                                button(type="submit" class="btn btn-signup") Create
                
                

        footer.footer
            h3 Copyright &copy; MITAOE