doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MITAOE | Club Page
        style 
            include ./../../public/css/club.css
            include ./../../public/util.css
            include ./../../public/css/header.css
    body 
        header.header 
            img(src="../Logo.png", alt="Logo" class="logo")
            nav 
                ul 
                    li 
                        a(href="/clubs") Home 
                    li
                        a(href="/clubs/my") My Clubs 
                    if user.role == "Teacher" 
                        li
                            a(href="/admin/new") Create Club 
            div.msg=`Welcome ${user.full_name}`
            .dropdown 
                div.account.drop-btn 
                div.dropdown-content 
                    a.dropdown-item(href="/users/account") Account 
                    a.dropdown-item(href="/users/account/setting") Setting 
                    a.dropdown-item(href="/logout") Logout 
                    if user.role == "Teacher"
                        a.dropdown-item(href="/admin") Administration 
        section.head
            h1 Account
        main 
            .container 
                .form-box 
                    .form-heading Your Account
                    form(action="/users/account" method="POST")
                            .input-box 
                                label(for="full_name")
                                input(type="text" name="full_name" value=`${user.full_name}`) 
                            div.input-box
                                label(for="email")
                                input(type="email" name="email" placeholder="Enter your college email" required value=`${user.email}`) 
                            div.input-box
                                label(for="prn")
                                input(type="number" name="prn" placeholder="Enter your PRN" required value=`${user.prn}`) 
                            div.input-box
                                label(for="m_no")
                                input(type="number" name="mobile_number" placeholder="Enter your Phone Number" required value=`${user.mobile_number}`) 
                            div.input-box
                                label(for="m_no") 
                                select(name="study_year" required)
                                    option(value) -------------Select Study Year-------------  
                                    if user.study_year == "First Year"
                                        option(value="First Year" selected) First year 
                                        option(value="Second Year") Second year  
                                        option(value="Third Year") Third year  
                                        option(value="Fourth Year") Fourth year  
                                        option(value="Pass Out") Pass Out  
                                    else if user.study_year == "Second Year" 
                                        option(value="First Year" ) First year 
                                        option(value="Second Year" selected) Second year  
                                        option(value="Third Year") Third year  
                                        option(value="Fourth Year") Fourth year  
                                        option(value="Pass Out") Pass Out 
                                    else if user.study_year == "Third Year"
                                        option(value="First Year" ) First year 
                                        option(value="Second Year" ) Second year  
                                        option(value="Third Year" selected) Third year  
                                        option(value="Fourth Year") Fourth year  
                                        option(value="Pass Out") Pass Out 
                                    else if user.study_year == "Fourth Year"
                                        option(value="First Year" ) First year 
                                        option(value="Second Year" ) Second year  
                                        option(value="Third Year") Third year  
                                        option(value="Fourth Year" selected) Fourth year  
                                        option(value="Pass Out") Pass Out 
                                    else if user.study_year == "Pass Out"
                                        option(value="First Year" ) First year 
                                        option(value="Second Year" ) Second year  
                                        option(value="Third Year") Third year  
                                        option(value="Fourth Year") Fourth year  
                                        option(value="Pass Out" selected) Pass Out 
                                    
                                     
                            div.input-box
                                label(for="m_no") 
                                select(name="department" required)
                                    option(value) -------------Select Department------------  
                                    if user.department == "Computer Department"
                                        option(value="Computer Department" selected) Computer Department   
                                        option(value="Mechanical Department") Mechanical Department   
                                        option(value="Electronics Department") Electronics Department   
                                        option(value="Civil Department") Civil Department   
                                        option(value="Chemical Department") Chemical Department   
                                    else if user.department == "Mechanical Department"
                                        option(value="Computer Department" ) Computer Department   
                                        option(value="Mechanical Department" selected) Mechanical Department   
                                        option(value="Electronics Department") Electronics Department   
                                        option(value="Civil Department") Civil Department   
                                        option(value="Chemical Department") Chemical Department   
                                    else if user.department == "Electronics Department"
                                        option(value="Computer Department" ) Computer Department   
                                        option(value="Mechanical Department") Mechanical Department   
                                        option(value="Electronics Department" selected) Electronics Department   
                                        option(value="Civil Department") Civil Department   
                                        option(value="Chemical Department") Chemical Department   
                                    else if user.department == "Civil Department"
                                        option(value="Computer Department" ) Computer Department   
                                        option(value="Mechanical Department") Mechanical Department   
                                        option(value="Electronics Department") Electronics Department   
                                        option(value="Civil Department" selected) Civil Department   
                                        option(value="Chemical Department") Chemical Department   
                                    else if user.department == "Chemical Department"
                                        option(value="Computer Department" ) Computer Department   
                                        option(value="Mechanical Department") Mechanical Department   
                                        option(value="Electronics Department") Electronics Department   
                                        option(value="Civil Department") Civil Department   
                                        option(value="Chemical Department" selected) Chemical Department   
                            div.input-box
                                label(for="about") Bio
                                textarea(type="text" name="about" required value=`${user.about}`)= user.about 
                            div.input-box
                                label(for="instagram_url")
                                input(type="text" name="instagram_url" value=`${user.instagram_url}` placeholder="Instagram Url") 
                            div.input-box
                                label(for="facebook_url")
                                input(type="text" name="facebook_url" value=`${user.facebook_url}` placeholder="Facebook Url") 
                            div.input-box
                                label(for="linkedin_url")
                                input(type="text" name="linkedin_url" value=`${user.linkedin_url}` placeholder="LinkedIn Url") 
                            div.input-box
                                label(for="twitter_url")
                                input(type="text" name="twitter_url" value=`${user.twitter_url}` placeholder="Twitter Url") 
                            
                            div.input-box
                                button(type="submit" class="btn btn-signup") Update Profile
                            div.input-box 
           
                

        footer.footer
            h3 Copyright &copy; MITAOE